/*
Jaime Matas Asensio
Proyecto DAW: ShopSphere
I.E.S. Maestre de Calatrava - Ciudad Real
2017
*/
*{
	margin: 0px;
	padding: 0px;
}
/*Colores de la aplicacion*/
/*
rgba(236, 25, 113, 1) - Morado suave
rgba(242, 52, 107, 1)
rgba(244, 103, 88, 1)Naranja suave
rgba(243, 81, 65, 1)
rgba(252, 232, 233, 1) - Blanco
rgba(244, 124, 76, 1)
rgba(236, 4, 76, 1) (Cabecera!)
rgba(244, 103, 59, 1)

*/
.bg-principal{
	background-color: rgba(236, 4, 76, 1); 
}
.bg-secundario{
	background-color: rgba(243, 81, 65, 1); 	
}
.btn{
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.border-shopShpere-xs{
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*Estilos para header*/
img#EnConstruccion{
	width: 100%;
	max-width: 500px;
	height: auto;
	border: 2px solid rgba(236, 4, 76, 1);
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline-block;
	margin:50px auto;
	padding: 20px;
}
div.enConstruccion{
	display: flex;
	justify-content: center;
}

header{
	padding: 5px 0px;
}

header div{
	display: inline;
}
#contentHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:6px 0px;
}
#logo{
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline;
}
#logo img{
	width:50px;
	height: auto; 
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#opcionesMovil{
	background-color: rgba(244, 124, 76, 1);
	padding: 5px 0px;
	display: none;
	width: 100%;
}
#opcionesMovil ul li{
	text-align: center;
	list-style: none;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}
#opcionesMovil ul li a{
	color:white;
	text-align: center;
	display: inline-block;
	width: 99%;
	padding: 5px 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#opcionesMovil ul li a:hover{
	background-color: rgba(242, 52, 107, 1);
	text-decoration: none;
	color:black;
}
#opcionesMovil ul li a:active{
	background-color: rgba(242, 52, 107, 1);
	text-decoration: none;
	color:black;
}
@media (min-width: 768px) {
	#logo img{
		width:150px;
		height: auto; 
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	img#EnConstruccion{
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	#menuEscritorio{
		display: inline;
		width: 60%;
	}
	#menuEscritorio ul {
		display: flex;
		justify-content: space-between;
		justify-content: space-evenly;
		align-items: center;
	}
	#menuEscritorio ul li{
		list-style: none;
		display: inline-block;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: rgba(244, 103, 88, 1);
		font-weight: bold;
		min-width:20%;
		min-height: 48.3px;
		text-align: center;
		border:2px solid white;
	}
	#menuEscritorio ul li a{
		display: inline-block;
		color: white;
		width: 100%;
		height: 48.3px;
		padding: 7px 7px;
		margin-top: 16px;
		font-size: 1.2rem;
	}
	#menuEscritorio ul li:hover{
		text-decoration: none;
		color: black;
		background-color: rgba(242, 52, 107, 1);
	}
	#login input{
		padding: 13px;
	}
}
body{
	background-color: rgba(243, 81, 65, 0.25);
}
/*Estilos para main*/
main{
	background-color: white;
	min-height: calc(100vh - 160px);
	max-width: 1335px; 
}
.indexCont{
	margin: 60px 0px;
}

@media (min-width: 970px) {
	.indexCont{
		margin: 20px 0px;
	}
}


	/*Estilos para la primera division del main*/

#cont0 h1{
	text-align: center;
	font-variant: small-caps;
}
#cont0 div{
	display: flex;
	justify-content: center;
}
#cont0 div img{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}
@media (min-width: 768px) {
	#cont0 div img{
		width: 400px;
		height: 400px;		
	}
}
	/*Estilos para la segunda division del main*/

#imgCont1{
 position: relative;
} 
#imgCont1 img{
	display: inline-block;
	width: 100%;
	height: auto;
}
#imgCont1 p{
	position: absolute;
	display: inline-block;
	width: 65%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 86%;
	font-size: 12px;
	color: white;
	text-shadow: -1px -1px black;
	cursor: pointer;
	padding: 1px 8px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba(242, 52, 107, 0.5);
	text-align: center;
}
#textoDesc{
	display: none;
	text-align: justify;
	box-sizing: border-box;
	margin: 10px 0px; 
}

@media (min-width: 768px) {
	#textDesEsc{
		padding-right: 0px;
		background-color: rgba(244, 103, 88, 0.5);
		border-top-left-radius: 15px;
		display: inline-block;
		width: 50%;
		height: 230px;
	}
	#textDesEsc p{
		display: inline-block;
		width: 90%;
		height: auto;
	}
	#cont1img{
		padding-left: 0px;
	}
	#cont1img div img{
		border-top-left-radius: 0px;
		border-bottom-right-radius: 15px; 
		width: 100%;
		height: 230px;
	}
}
@media (min-width: 970px) {
	#textDesEsc{
		border-top-left-radius: 20px;
		height: 280px;
	}
	#cont1img div img{
		border-bottom-right-radius: 20px; 
		height: 280px;
	}
	img#EnConstruccion{
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}
@media (min-width: 1200px) {
	#textDesEsc{
		height: 380px;
	}
	#cont1img div img{
		height: 380px;
	}
}
	/*Estilos para la segunda division del main*/
#imgCont2{
 position: relative;
} 
#imgCont2 img{
	width: 100%;
	height: auto;
}
#imgCont2 p{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 74%;
	font-size: 12px;
	color: white;
	text-shadow: -1px -1px black;
	cursor: pointer;
	padding: 1px 8px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba(242, 52, 107, 0.5);
	text-align: center;
}
#textoVent{
	display: none;
}

#textoVent p span{
	margin-right: 10px;
}

@media (min-width: 768px) {
	#textVentEsc{
		background-color: rgba(242, 52, 107, 0.5);
		border-bottom-right-radius: 15px; 
		display: inline-block;
		width: 48%;
		height: 230px;
	}
	#textVentEsc h3{
		text-align: right;
	}
	#textVentEsc p span{
		margin-right: 10px;
	}
	#cont2img{
		padding: 0px 0px;
	}
	#cont2img div img{
		border-bottom-right-radius: 0px; 
		border-top-left-radius: 15px;
		width: 100%;
		height: 230px;
	}
}
@media (min-width: 970px) {
	#textVentEsc{
		border-bottom-right-radius: 20px; 
		width: 48%;
		height: 280px;
	}
	#cont2img div img{
		border-bottom-right-radius: 0px; 
		border-top-left-radius: 20px;
		height: 280px;
	}
}
@media (min-width: 1200px) {
	#textVentEsc{
		height: 380px;
	}
	#cont2img div img{
		height: 380px;
	}
}
	/*Estilos para la tercera division del main*/
#cont3 h2{
	margin-top: 0px;
	text-align: center;
	font-variant: small-caps;
}
.suscripciones h3{
	border-top-left-radius: 5px;
	margin-bottom: 0px;
	text-align: center;
	font-variant: small-caps;
	background-color: rgba(236, 25, 113, 1);
	color: white;
	padding: 8px 0px;
}
.suscripciones div h4{
	text-align: center;
	color: white;
	margin: 0px; 	
	font-variant: small-caps;
	background-color: rgba(243, 81, 65, 1);
	padding: 6px 3px;
}
.suscripciones div:nth-child(2){
	margin:0px;
	border-bottom-right-radius: 5px;
	background-color: rgba(244, 124, 76, 0.15);
}
.suscripciones div ul li{
	list-style: none;
	margin:10px 0px;

}
.suscripciones div ul li span{
	margin:0px 7px;
}
.suscripciones div button{
	border:none;
	padding: 8px 0px; 
	background-color: #5cb85c;
	width: 100%;
	color: white;
	border-bottom-right-radius: 5px;
}
.suscripciones div button:hover{
	text-decoration: underline;
}
@media (min-width: 750px) {
	.suscripciones h3{
		border-top-left-radius: 15px;
	}
	.suscripciones div:nth-child(2){
		border-bottom-right-radius: 15px;
	}
	.suscripciones div button{
		border-bottom-right-radius: 15px;
	}
}
@media (min-width: 970px) {
	.suscripciones h3{
		border-top-left-radius: 20px;
	}
	.suscripciones div:nth-child(2){
		border-bottom-right-radius: 20px;
	}
	.suscripciones div button{
		border-bottom-right-radius: 20px;
	}
}
 /*Estilos cuarta division del main */
#div-registro{
	position: relative;
}
#div-registro img{
	width: 100%;
	height: auto;
	margin:8px 0px;
	border: 1px solid rgba(242, 52, 107, 1); 
}

#div-registro button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(236, 4, 76, 0.7);
	border: none;
	color: black; 
	font-weight: bold;
}
#div-registro button:hover{
	text-decoration: underline;
}
@media (min-width: 768px) {
	#div-registro img{
		border: 3px solid rgba(242, 52, 107, 1); 
		border-bottom-right-radius: 15px; 
		border-top-left-radius: 15px;
	}
	#div-registro button{
		padding: 20px 30px;
		font-size: 18px;
	}
}
@media (min-width: 970px) {
	#div-registro img{
		border-bottom-right-radius: 20px; 
		border-top-left-radius: 20px;
	}
}
/*Estilos para el footer*/
footer{
	background-color: rgba(0, 0, 0, 1);
	min-height: 100px;
	padding: 10px 0px;
}
#contPie{
	padding-top: 8px;
}
#contPie div{
	width: 33%;
	text-align: center;
}
#enlacesPie ul li{
	margin: 5px 0px;
	text-align: left;
	list-style: none;
	text-decoration: none;
	font-size: 12px;
}
#enlacesPie ul li a{
	color: white;
}
#redesSociales{

	display: flex;
	justify-content: center;
	align-items: center;
}
#redesSociales div{
	display: inline-block;
	margin-right: 7px;
}
#redesSociales a{
	display: inline-block;
	margin-bottom: 5px;
}
#redesSociales a img{
	display: inline-block;
	width: 25px;
	height: auto;
}
#logoPie a img{
	width: 50px;
	height: auto;
}
@media (min-width: 768px) {
	#redesSociales a img{
		width: 60px;
		height: auto;
	}
	#enlacesPie ul li{
		font-size: 18px;
	}
	#logoPie a img{
		width: 250px;
		height: 125px;
		border-bottom-right-radius: 15px; 
		border-top-left-radius: 15px;
	}
}
@media (min-width: 1200px){
	#redesSociales a img{
		width: 75px;
		height: auto;
	}
	#enlacesPie ul li{
		font-size: 40px;
	}
	#logoPie a img{
		border-bottom-right-radius: 20px; 
		border-top-left-radius: 20px;
	}
}
