*{
	margin: 0px;
	padding: 0px;
}
/*Colores*/
/*
rgba(236, 25, 113, 1) - Morado suave
rgba(242, 52, 107, 1)
rgba(244, 103, 88, 1)Naranja suave
rgba(243, 81, 65, 1)
rgba(252, 232, 233, 1) - Blanco
rgba(244, 124, 76, 1)
rgba(236, 4, 76, 1) (Cabecera!)
rgba(244, 103, 59, 1)

*/
.bg-principal{
	background-color: rgba(236, 4, 76, 1); 
}
.bg-secundario{
	background-color: rgba(243, 81, 65, 1); 	
}
.btn{
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.border-shopShpere-xs{
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*Estilo para formularios*/
h1{
	font-size: 23px;
}
h2{
	font-size: 17px;
	background-color: rgba(236, 25, 113, 1);
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 90%;
	display: inline-block;
	padding: 6px 0px;
	margin: 10px 0px;
	cursor: pointer;
}
.formulario{
	margin:100px auto; 
	padding: 20px 0px;
	border: 2px solid rgba(236, 25, 113, 1);
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.formulario-crud{
	margin:20px auto; 
	padding: 20px 0px;
}
.formulario div:last-child{
	margin:10px 0px;
}
#enlaceRecuperacion a{
	margin:5px 0px;
	display: block;
}
.formulario div:last-child button{
	margin-right: 10px;
}
#formularioLogin{
	max-width: 300px;
}

.form-control{
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#formBusq select{
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#formBusq div:first-child{
	display:flex;
	justify-content: center;
	align-content: center;
}
#formBusq div.from-group{
	display: inline-block;
}
#formNuevaTienda{
	display: none;
}
#formsResaultadoBusqueda{
	display: none;
}
/* media queries para formularios*/
@media (min-width: 768px){
	.formulario{
		width: 80%;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.formulario form{
		width: 100%;
	}
	h1{
		font-size: 36px;
	}
	h2{
		font-size: 30px;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}


@media (min-width: 970px){
	.formulario{
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}	
}

@media (min-width: 1200px){
	
}



/*Estilo cabeceraVistas*/
#menuEscritorio ul li {
    min-width: 48px;
    min-height: initial;
	}
#credenciales{
	display: inline-block;
	padding: 5px;
	text-align: center;
	background-color: rgba(236, 25, 113, 1);
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 50px;
}
#credenciales p{
	text-align: left;
	color: white;
	margin-bottom: 0px;
	font-size: 12px;
}
#credenciales button{
	margin: 0px auto;
	font-size: 12px;
	margin-top: 0px;
	padding: 2px;
}


@media (min-width: 768px){
	#menuEscritorio ul li {
    min-width: 16%;
    min-height: initial;
	}
}