/*
Jaime Matas Asensio
Proyecto DAW: ShopSphere
I.E.S. Maestre de Calatrava - Ciudad Real
2017
*/
*{
	margin: 0px;
	padding: 0px;
}
/*Colores de la aplicacion*/
/*
rgba(236, 25, 113, 1) - Morado suave
rgba(242, 52, 107, 1)
rgba(244, 103, 88, 1)Naranja suave
rgba(243, 81, 65, 1)
rgba(252, 232, 233, 1) - Blanco
rgba(244, 124, 76, 1)
rgba(236, 4, 76, 1) (Cabecera!)
rgba(244, 103, 59, 1)
rgba(162, 162, 162, 1)
*/
.bg-principal{
	background-color: rgba(236, 4, 76, 1); 
}
.bg-secundario{
	background-color: rgba(243, 81, 65, 1); 	
}
.btn{
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.border-shopShpere-xs{
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
input#cerrarSession{
	padding: 1px 13px;
}

/*Estilo para formularios*/
h1{
	font-size: 20px;
	font-variant: small-caps;
	background-color: rgba(236, 25, 113, 1);
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 5px 0px;
	color:white;
	text-shadow: 2px 2px 3px rgba(162, 162, 162, 1);
	box-shadow: 2px 2px 3px rgba(162, 162, 162, 1);
}
h2{
	font-size: 17px;
	background-color: rgba(236, 25, 113, 1);
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline-block;
	padding: 6px 0px;
	margin: 10px 0px;
	cursor: pointer;
	color:white;
	text-shadow: 2px 2px 3px rgba(162, 162, 162, 1);
	box-shadow: 2px 2px 3px rgba(162, 162, 162, 1);
}
h2#login{
	text-align: center;
 display: inline-block;
 width: 100%;
 text-shadow: 2px 2px 3px rgba(162, 162, 162, 1);
 box-shadow: 2px 2px 3px rgba(162, 162, 162, 1);
}
h3{
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: rgba(236, 4, 76, 1);
}
#encabezadoTiendas h1{
	text-align: center;
	font-variant: small-caps;
}
/*estilo de divisiones con formularios*/
.formulario{
	margin:100px auto; 
	padding: 20px 0px;
	border: 2px solid rgba(236, 25, 113, 1);
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#formularioLogin{
	margin: 50px auto; 
}
.formulario-crud{
	margin:20px auto; 
	padding: 20px 0px;
	position:relative;
	background-color: white;
}
.formulario-crud label[for="nuevo"]{
	width: 100%;
	text-align: center;
}
.formulario-crud textarea[name="descripcion"]{
	display: block;
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
	padding: 10px;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*Errores de validacion en formularios*/
.formulario-crud form div.form-group{
	margin-top: 10px; 
}
.formulario-crud form div.form-group span.errValidacion{
	position: absolute;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: rgba(247, 9, 9,1);
	z-index: -5;
}
/*Esdtilos de login*/
#enlaceRecuperacion a{
	margin:4px 0px;
	display: block;
	text-decoration: none;
	color: black;
}
#enlaceRecuperacion a:hover{
	text-decoration: underline;
	text-decoration-color: rgba(236, 4, 76, 1);
}
.formulario div:last-child button{
	margin-right: 10px;
}
.overFlowForms{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(236, 25, 113, 0.5);
	z-index: -100;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
h3.infoProceso{
	position: absolute;
	top:50%;
	left: 50%;
	font-size: 20px;
	color: white;
	transform: translate(-50%, -50%);
	padding: 10px 16px;
	background-color: rgba(236, 25, 113, 1);
	z-index: -100;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-variant: small-caps;	
}
.confirmDelete{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: auto;
	padding: 10px 16px;
	background-color: white;
	z-index: -100;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 2px solid rgba(244, 103, 88, 1);
}
.confirmarBorrado{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
h3.preguntaBorrado{
	text-decoration: none;
	display: block;
	font-variant: small-caps;
	font-weight: bold;
}
#formularioLogin{
	max-width: 300px;
}

#formularioLogin p {
	padding: 8px 4px;
	color: black;
}

.form-control{
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/*estilo para el formulario de busqueda*/
#formBusq select{
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#formBusq fieldset{
	width: 100%;
}
#formBusq fieldset div{
	display:inline-block;
}
#selectBusq{
	margin-left: 5px;
}
#formBusq fieldset button{
	margin-left: 5px;
}
#formBusq select[name="selBusqueda"]{
	display: none;
}
#elementosBusqueda{
display: flex;
width: 100%;
justify-content: space-between;
}
#elementosBusqueda div.form-group{
	display: block;
}

#elementosBusqueda div.form-group #busqueda{
	display: inline-block;
	width: 100%;
}
#elementosBusqueda div.form-group #tBusqueda{
	display: inline-block;
	width: 100%;
}
#elementosBusqueda button[type="submit"]{
	display: inline-block;
	width: 100%;
	margin-left: 0px;
}

#selectorTienda fieldset{
	width: 100%;
	text-align: center;
}
#selectorTienda select{
	display: inline-block;
	width: 100%;
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#selectorTienda div:first-child{
	display:flex;
	justify-content: center;
	align-content: center;
}
#selectorTienda div.from-group{
	display: inline-block;
}
#selectorTienda button.btn.btn-info{
	width: 100%;
	height: 34px;
	padding: 0px 0px;
}

/*Estilos en formulario de nuevo elemento*/
#formNuevoElemento{
	display: none;
}
#formNuevoElemento div.confInsert{
	margin-top: 10px;
}
.control-btn{
	margin-top: 10px;
}
.control-btn div.col-xs-6{
	display: flex;
	justify-content: center;
}
div.confMod.col-xs-6{
	display: none;
}
div.confMod.col-xs-6 button{
	display: inline-block;
	margin-bottom: 5px;
}
 /*Enmascaramiento del input file*/
.formulario-crud input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.formulario-crud label[for="foto"] {
	font-size: 14px;
	font-weight: 600;
	background-color: rgba(236, 25, 113, 0.7);
	display: inline-block;
	transition: all .5s;
	cursor: pointer;
	padding: 10px 30px;
	width: 100%;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	text-transform: uppercase;
	text-align: center;
}

 /*Enmascaramiento del input file*/
.inputImg{
	margin-bottom: 10px;
}
.inputImg div:first-child{
	text-align: center;
}
.inputImg>div>img{
	margin-bottom: 10px;
	width: 100px;
	height: auto;
}

.alertasProductos{
	width: 98%;
	margin: 5px auto;
	margin-bottom: 40px;
}
.imgAlerta, .itemAlerta, .controlAlerta button{
	border-left: 1px solid rgba(236, 4, 76, 0.8);
	border-right: 1px solid rgba(236, 4, 76, 0.8);
	border-bottom: 1px solid rgba(236, 4, 76, 0.8);
}
.alertasProductos h3{
	text-align: center;
	background-color: rgba(236, 4, 76, 0.8);
	border-top-left-radius: 5px;
	font-size: 18px;
	padding: 5px 2px;
	margin-bottom: 0px;
}
.alertasProductos .imgAlerta{
	display: flex;
	justify-content: center;
}

.alertasProductos .imgAlerta img{
	width: 100px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.alertasProductos .itemAlerta p{
	margin: 10px auto;
}

.alertasProductos .itemAlerta p.text-danger{
	background-color: red;
	color: white;
	text-align: center;
	padding: 10px 0px;
}

.alertasProductos .controlAlerta button{
	width: 100%;
	border-radius: 0px;
	border-bottom-right-radius: 5px;
}

.itemAlerta p.bg-primary{
	padding: 10px 8px;
	margin-bottom: 1px;
	font-weight: bold;
	font-variant: small-caps;
}

.itemAlerta p.bg-primary span.dataAlert{
	font-weight: initial;
	font-variant: initial;
}

.itemAlerta p.text-danger span.dataAlertDanger{
	font-weight: bold;
	font-variant: small-caps;
}
/*Etiquetas de validacion*/

 /*Estilo cuando no se encuantran resultados de busqueda*/
#NoResult{
	padding: 10px 8px;
}
/*Estilo cabeceraVistas*/
#menuEscritorio ul li {
    min-width: 48px;
    min-height: initial;
}

#credenciales{
	display: inline-block;
	padding: 5px;
	text-align: center;
	background-color: white;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 50px;
}

#credenciales p{
	text-align: left;
	color: black;
	font-weight: bold;

	margin-bottom: 2px;
	font-size: 12px;
}

#credenciales button{
	margin: 0px auto;
	font-size: 12px;
	margin-top: 0px;
	padding: 1px;
}

/* media queries para formularios*/
@media (min-width: 768px){
	h1{
		font-size: 32px;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	#credenciales{
		height: 72px;
	}
	input#cerrarSession{
		padding: 3px 13px;
	}
	.formulario{
		width: 80%;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.overFlowForms{
		border-top-left-radius: 12px;
		border-bottom-right-radius: 12px;
	}
	.formulario form{
		width: 100%;
	}

	h1{
		font-size: 30px;
	}
	h2{
		font-size: 26px;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	h3{
		font-size: 20px;
	}
	span.insertTiendaMsg{
		display: block;
		margin: 10px 0px;
		font-size: 16px;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}
	.alertasProductos{
		max-width: 80%;
	}
	.alertasProductos h3{
		border-top-left-radius: 15px;
	}
	.alertasProductos .controlAlerta button{
		border-bottom-right-radius: 15px;		
	}
	#selectorTienda fieldset{
	width: 70%;
	text-align: left;
	display: flex;
	justify-content: center;
	}
	#selectorTienda select{
		display: inline-block;
		width: 100%;
		height: 34px;
		border: 1px solid #ccc;
		border-radius: 0px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	#selectorTienda button.btn.btn-info{
		width: 100px;
		margin-left: 5px;
		height: 34px;
		padding: 0px 0px;
	}
	#formBusq fieldset{
		display: flex;
		justify-content: center;
		width: 70%;
	}
	#formBusq form>div{
		display: flex;
		justify-content: center;
	}
	#formBusq fieldset div{
		display: flex;
		justify-content: center;
	}
	#selectBusq{
		margin-left: 5px;
	}
	#formBusq fieldset button{
		margin-left: 5px;
	}
	#formBusq select[name="selBusqueda"]{
		display: none;
		width: 170px;
	}

	#elementosBusqueda{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	#elementosBusqueda div.form-group{
		display: inline-block;
		margin-left: 5px;
	}
	#elementosBusqueda div.form-group #busqueda{
		display: inline-block;
		width: 180px;
	}
	#elementosBusqueda div.form-group #tBusqueda[name="busqueda"]{
		display: none;
		width: 180px;
	}
	#elementosBusqueda button[type="submit"]{
		display: inline-block;
		width: 50px;
		margin-left: 5px;
	}
	#elementosBusqueda input[type="submit"]{
		display: inline-block;
		width: 80px;
		margin-left: 5px;
	}
	.confirmDelete{
		width: 400px;
		height: 150px;
	}
}

@media (min-width: 970px){
	.formulario{
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}	
}

@media (min-width: 768px){
	#menuEscritorio ul li {
    min-width: 16%;
    min-height: initial;
	}
}